/* Button customization */
:root{
    --primary : #3e7cfb;
    --light   : #ffff;
    --secondary : #bc34ff;
}
.right{
    float: right;
    margin-top: -18px;
}
button{
    color: #ffff;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: .9em;
    background: var(--primary);
}
button:focus{
    outline: none;
}
/*  */
header{
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background: var(--light);
    z-index: 100;
    border-bottom: 2px solid var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .branding{
    color:var(--primary);
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 1.8em;
}
.search-bar input{
    background: rgba(246, 252, 238, 1);
    padding: .6em 1.2em;
    font-family: sans-serif;
    font-size: .8em;
    width: 300px;
    border-radius: 1.1em;
    box-shadow: none;
    border: none;
    outline: none;
}
.search-bar input:focus{
    border: none;
    box-shadow: none;
}
header nav{
    display: flex;
    flex-direction: row;
    padding: 0 .9em;
}
nav li{
    list-style: none;
}
nav li a{
    color: var(--primary);
    text-decoration: none;
    padding:0 0.9em;
    font-family: sans-serif;
    font-size: .9em;
    font-weight: bold;
}
body{
    margin: 0 !important;
    padding: 0 !important;
}
/* Customization of the scroller  */
body::-webkit-scrollbar{
	width: 7px;
}
body::-ms-scrollbar{
	width: 7px;
}
body::-ms-scrollbar-thumb{
	background-color:hsla(274, 8%, 8%, 0.5);
}
body::-webkit-scrollbar-thumb{
    background-color:rgba(65, 40, 109, 0.5);
}
/*  End customizing the scrollbar */

main{
    position: relative;
    padding-top:42px;
    margin: 0 100px;
}
main .present{
    color: var(--light);
    position: relative;
    font-family: sans-serif;
    text-align: center;
    background: url("../pictures/automart.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.present-texts{
    font-weight: bold;
    font-size: 2em;
    padding-top: 15%;
}
.present-description{
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.join-btn{
    padding: .6em 6em;
    margin-top: 2em;
}
/* Design of the landing page */

/* Design of cards */
main .cards{
    padding :.5em .8em;
    background: rgba(204, 229, 253, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    background: var(--light);
    margin-bottom: .4em;
    border-radius: 8px;
    /* border: 1px solid gray; */
    width: 500px;
}
.card .card-header{
    color: var(--primary);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* border-bottom:1px solid #cacaca; */
    padding: 0.6em;
}
.card .card-body{
    position: relative;
    padding: 0 .4em;
    height: 250px;
}
.card-body .car-images{
    text-align: center;
}
.car-images img{
    width: 100%;
    height: 250px;
}
.card .card-footer{
    display: flex;
    justify-content: space-between;
    padding: .6em;
    /* border-top:1px solid #cacaca; */
}
.card-footer button{
    padding: .5em 4em;
}
button.order{
    background: var(--primary);
}
button.view{
    background: var(--secondary);
}

/* Design of cards */

/*  End */

/* Scroller */
.scroller{
    position: fixed;
    bottom: 1.8em;
    right: 1.8em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.scroller .toggler{
    display: none;
    height: 35px;
    width: 35px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    font-family: sans-serif;
    font-size: 1.5em;
    border-radius: 50%;
    background: var(--primary);
    text-align: center;
    transition: all ease-in-out .5s;
}

.arrow-up{
    color: var(--light);
    content: url("../pictures/arrow-up.svg");
}
/*  */



































/* by @Bihame Sikubwabo Vainqueur */