/* Button customization */
:root{
    --primary   : #3e7cfb;
    --light     : #ffff;
    --secondary : #2ab9ff;
    --dark      : rgb(0,0,0);
    --danger    : rgba(255,0,0,1);
}
.danger{
    color: var(--danger);
}
.secondary{
    color: var(--secondary);
}
.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--primary);
}
a{
    text-decoration: none;
    color: var(--light);
}
.right{
    float: right;
    margin-top: -18px;
}
button{
    color: #ffff;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: .9em;
    background: var(--primary);
}
button:focus{
    outline: none;
}
button.filterBtn{
    padding: .45em 2em;
    border-radius: 4px !important;
}
/*  */
header{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background: var(--light);
    z-index: 100;
    border-bottom: 2px solid var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease-in-out;
}
header .dropdown{
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}
header .dropdown-menu{
    margin-right: 16px;
}
header .branding{
    color:var(--primary);
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 1.8em;
}
.primary{
    color: var(--primary) !important;
}
.btn-secondary{
    background: var(--secondary) !important; 
}

.search-bar input, .search-bar select{
    background: rgba(246, 252, 238, 1);
    padding: .6em 1.2em;
    font-family: sans-serif;
    font-size: .8em;
    width: 100px;
    border-radius: 1.1em;
    box-shadow: none;
    border: 1px dashed var(--primary);
    outline: none;
}
.search-bar input[type="text"].no-split{
    width: 200px;
}

.search-bar select{
    width: inherit;
    border-style: solid;
    font-size: .8em;
    border-radius: 4px !important;
}
label:not(.uploader){
    font-family: sans-serif;
    color: var(--primary);
    font-size: .9em;
}
.search-bar input:focus{
    /* border: none; */
    box-shadow: none;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 0 .9em;
}
nav li{
    list-style: none;
}
nav li a{
    color: var(--primary);
    text-decoration: none;
    padding : 0 0.4em;
    font-family: sans-serif;
    font-size: .8em;
    font-weight: bold;
}
body{
    margin: 0 !important;
    padding: 0 !important;
}
/* Customization of the scroller  */
::-webkit-scrollbar{
    box-shadow: inset 0 0 7px rgba(0,0,0,.1);
	width: 7px;
}
::-ms-scrollbar{
    box-shadow: inset 0 0 7px rgba(0,0,0,.1);
	width: 7px;
}
::-ms-scrollbar-thumb{
	background-color:hsla(274, 8%, 8%, 0.5);
}
::-webkit-scrollbar-thumb{
    background-color:rgba(65, 40, 109, 0.5);
}
/*  End customizing the scrollbar */

main{
    position: relative;
    margin: 0;
}



button.order{
    background: var(--primary);
}
button.view{
    background: var(--secondary);
}

/* Design of cards */

/*  End */

/* Scroller */
.scroller{
    position: fixed;
    bottom: 1.8em;
    right: 1.8em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.scroller .toggler{
    /*display: none;*/
    height: 35px;
    width: 35px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    font-family: sans-serif;
    font-size: 1.5em;
    border-radius: 50%;
    background: var(--primary);
    text-align: center;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in ;
}
.show{
    opacity: 1 !important;
    transform: scale(1) !important;
    visibility: visible !important;
}
.arrow-up{
    font-size: xx-large;
    content: url("../pictures/arrow-up.svg");
}

.bolder{
    font-weight: bold;
}

/* Dropdown customization */
li{
    list-style: none;
}
.icon{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
/* dropdown items */
.dropdown-menu{
    position: absolute;
    background: var(--light);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    border-radius: 8px;
    min-width: 130px;
    z-index: 100;
    top: 2em;
    right: .2em;
    padding: .4em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.dropdown-menu::before{
    content: " ";
    position: absolute;
    border: 15px solid transparent;
    top: -26px ;
    right: 4px;
    border-radius: 10px;
    border-bottom-color: rgb(221, 230, 235);
    z-index: 50;
}
.dropdown li{
    padding: .4em 0;
}
.dropdown-menu a{
    color: var(--dark) !important;
    font-weight: initial;
    padding: 1em .6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .5em .4em;
    
}


.light{
    color: var(--light);
}
.btn{
    cursor: pointer;
    font-size: .9em !important;
    padding: .6em 1em;
    border-radius: 4px;
    margin-bottom: .8em;  
}
button.btn-submit{
    padding: .6em 1em;
    border-radius: 4px;
    margin-bottom: .8em;
}

/* All about the footer */
footer{
    font-family: sans-serif;
    font-size: .9em;
    color: white;
    padding: .8em;
    background : rgb(63, 70, 69);
    position: relative;


}
footer .ft-sections{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 1.5em;
    box-sizing: border-box;
    margin-bottom: .5em;
}
.ft-sections div{
    font-size: .9em;
}
.ft-sections li{
    list-style: none;
    font-family: sans-serif;
    font-size: .9em;
    line-height: 1.5;
}

.ft-sections a{
    color: var(--primary) !important;
}
.ft-sections h3{
    color: #2ab9ff;
}
.ft-sections .col{
    width: 33.33%;
}
.ft-description{
    /*padding: .5em;*/
}

footer .copyright{
    color: #eeeeee;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
    padding : .5em;

}
/* Responsiveness accross Mobile, Tablets and Desktops */


/* by @Bihame Sikubwabo Vainqueur */